.questionContainer {
  width: 100%;
  height: 100%;
  border: 1px solid var(--soft-background-color);
}

.questionBar {
  display: flex;
}

.questionDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
