@import "../../../vars.css";

.container {
  height: 128px;
  width: 184px;
  border-radius: 8px;
  position: relative;
  background-color: var(--hard-background-color);
}

.a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  color: var(--main-bg-color);

  font-size: large;
  font-family: "Geist";

  border: none;
}
.a:link {
  text-decoration: none;
}
.a:focus,
.a:hover:not(:disabled) {
  border: 1px solid var(--main-bg-color);
  border-radius: 0 8px 8px 8px;
}

.container:hover:not(:disabled) .buttonContainer {
  opacity: 100;
  user-select: all;
}

.a::after {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  height: 10px;
  width: 100%;
  background: var(--hard-background-color);
  z-index: -1;
  clip-path: polygon(0% 0%, 20% 0%, 40% 100%, 0% 100%);
  border-radius: 8px 0 0 0;
  /* box-shadow: red 60px -16px; */
}
.a::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -7px;
  height: 9px;
  width: calc(100% - 9px);
  background: var(--hard-background-color);
  z-index: 0;
  clip-path: polygon(0% 0%, 20% 0%, 39% 100%, 0% 100%);
  border-radius: 7px 0 0 0;
  box-shadow: red 60px -16px;
}

a:focus::after,
a:hover:not(:disabled):after {
  background: var(--main-bg-color);
}

.a:disabled {
  background-color: var(--main-disabled-color);
}
.warning:disabled {
  background-color: var(--warning-disabled-color);
}

p {
  text-align: center;
}

.buttonContainer {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  top: 0;
  padding: 4px 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  opacity: 0;
}

.buttonContainer:hover,
.buttonContainer:focus-within {
  right: 0;
  opacity: 1;
  user-select: all;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  padding: 0;
  border-radius: 4px;
  background: white;
}

.iconButton.primary {
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}
.iconButton.primary:hover {
  background: var(--outline-hover-color);
}
.iconButton.warning {
  color: var(--warning-bg-color);
  border: 1px solid var(--warning-outline-bg-color);
}

.iconButton.warning:hover {
  background: var(--warning-outline-hover-color);
}
