@import "../../../vars.css";

:root {
  --tooltipWidth: 36px;
  --markWidth: 20px;
  --thumbWidth: 20px;
}

.horizontalSlider {
  width: 100%;
  height: calc(var(--markWidth) * 2 + var(--tooltipWidth) * 1.5);
}

.thumb {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: calc(var(--markWidth) - var(--thumbWidth) / 2);
  height: var(--thumbWidth);
  width: var(--thumbWidth);
  border-radius: 50%;
  line-height: 38px;

  background: var(--main-bg-color);
}

.thumb:focus {
  outline: none;
  background: white;
  box-shadow: 0 0 2px 4px var(--main-bg-color);
}

.track {
  position: relative;
  height: 4px;
  background: var(--main-bg-color);
  border-radius: 4px;
  bottom: calc(var(--markWidth) - 2px);
}

.mark {
  cursor: pointer;
  position: absolute;
  display: block;

  bottom: calc(var(--markWidth) / 2);
  width: var(--markWidth);
  height: var(--markWidth);

  transform: translateX(calc((var(--thumbWidth) - var(--markWidth)) / 2));
  border-radius: 100%;

  background: var(--main-bg-color);
}

.toolTip {
  position: absolute;
  display: flex;
  justify-content: center;

  width: var(--tooltipWidth);
  height: var(--tooltipWidth);
  border-radius: 50% 50% 50% 0;
  transform: translateY(calc(var(--tooltipWidth) * -1.25)) rotate(-45deg);
  background: var(--main-bg-color);
  color: white;
  content: "";
}
