@import "../../../vars.css";

.container {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  height: 24px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  box-sizing: border-box;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 1px solid var(--text-color);
  background-color: white;
}

.container:hover input:not(:disabled) ~ .checkmark {
  background-color: var(--outline-hover-color);
}

.container input:checked ~ .checkmark {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}

.container:hover input:checked ~ .checkmark {
  background-color: var(--main-hover-color);
}

.container input:focus-visible ~ .checkmark {
  box-shadow: 0 0 2px 3px var(--main-bg-color);
  border: 1px solid var(--text-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:disabled ~ .inputLabel {
  color: var(--soft-background-color);
}

.container input:disabled ~ .checkmark {
  background-color: var(--hard-background-color);
  border: 1px solid var(--soft-background-color);
}
