.button {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;

  height: 40px;
  width: 100%;
  border-radius: 8px;
  padding: 16px 16px;

  background-color: white;
  color: #365aa8;

  font-size: large;
  font-family: "Geist";

  border: none;
}

.button:hover:not(:disabled) {
  border: 1px #a3bffb solid;
}
.button:active:not(:disabled) {
  background-color: #e9f1fd;
}

.button:disabled {
  background-color: var(--main-disabled-color);
}
.warning:disabled {
  background-color: var(--warning-disabled-color);
}
