@import "../../../vars.css";

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  height: 24px;
  align-items: center;
}

.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  height: 40px;
  min-width: 40px;
  background-color: white;
}

.switch:hover input:not(:disabled) ~ .checkmark {
  background-color: var(--outline-hover-color);
}

.switch input:checked ~ .checkmark {
  color: var(--main-active-color);
  border: 2px solid var(--main-bg-color);
  border-style: none none solid none;
  transition: all 0.3s ease-out;
}

.switch input:focus-visible ~ .checkmark {
  box-shadow: 0 0 2px 3px var(--main-bg-color);
  border: 2px solid;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.switch input:checked ~ .checkmark:after {
  display: block;
}

.switch input:disabled ~ .inputLabel {
  color: var(--soft-background-color);
}

.switch:disabled input ~ .checkmark {
  background-color: var(--outline-hover-color);
}
