/* other buttons reading from this apparently */
:root {
  --main-bg-color: #4f84f7;
  --main-hover-color: #426fcf;
  --main-active-color: #365aa8;
  --main-disabled-color: #e9f1fd;

  --outline-hover-color: #ceddfd;
  --outline-active-color: #87abfa;

  --warning-outline-bg-color: #ff2929;
  --warning-outline-hover-color: #ffa1a1;
  --warning-outline-active-color: #ff7a7a;

  --warning-bg-color: #ff2929;
  --warning-hover-color: #d60000;
  --warning-active-color: #ad0000;
  --warning-disabled-color: #ffd1d9;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
  border-radius: 8px;
  padding: 8px 16px;

  color: var(--main-bg-color);
  background-color: white;

  font-size: large;

  border: 1px var(--main-bg-color) solid;
}

.button:hover:not(:disabled) {
  background-color: var(--outline-hover-color);
}
.button:active:not(:disabled) {
  background-color: var(--main-active-color);
}

.warning {
  color: var(--warning-outline-bg-color);
  border: 1px var(--warning-outline-bg-color) solid;
}
.warning:hover:not(:disabled) {
  background-color: var(--warning-outline-hover-color);
}
.warning:active:not(:disabled) {
  background-color: var(--warning-outline-active-color);
}

.button:disabled {
  color: var(--main-disabled-color);
  border: 1px var(--main-disabled-color) solid;
}
