.a {
  display: flex;
  align-items: center;

  height: 40px;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;

  background-color: white;
  color: #365aa8;

  font-size: large;
  font-family: "Geist";

  border: none;
}
a:link {
  text-decoration: none;
}
.a:hover:not(:disabled) {
  border: 1px #a3bffb solid;
}
.a:active:not(:disabled) {
  background-color: #e9f1fd;
}

.a:disabled {
  background-color: var(--main-disabled-color);
}
.warning:disabled {
  background-color: var(--warning-disabled-color);
}
