.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  height: 24px;
  align-items: center;
  font-size: 16px;
  font-family: "Geist";
  font-weight: 400;
  color: #606060;
}

.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  height: 40px;
  min-width: 40px;
  border: 2px #4f84f7 solid;
  background-color: white;
  /* opacity: 10%; */
}

.left {
  border-radius: 8px 0 0 8px;
  left: 0;
}
.middle {
  border-style: solid none;
}

.right {
  border-radius: 0 8px 8px 0;
}

.switch input:disabled ~ .checkmark {
  background-color: #efefef;
  border: 2px #c4c4c4 solid;
}

.switch input:disabled ~ span {
  color: #e9f1fd;
}

.switch:hover input:not(:disabled) ~ .checkmark {
  background-color: #ceddfd;
}

.switch input:checked ~ .checkmark {
  background-color: #4f84f7;
  color: white;
  border: 2px #4f84f7 solid;
}

.switch:hover input:checked ~ .checkmark {
  background-color: #4f84f7;
}

.switch input:focus-visible ~ .checkmark {
  box-shadow: 0 0 2px 3px #4f84f7;
  border: 2px #606060 solid;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.switch input:checked ~ .checkmark:after {
  display: block;
}

.switch input:disabled ~ .inputLabel {
  color: #c4c4c4;
}

.switch:disabled input ~ .checkmark {
  background-color: #ceddfd;
}
