@import "../../../vars.css";

.select {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px #c4c4c4 solid;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: box-shadow 0.2s ease-out;
}

.select:focus {
  box-shadow: 0 0 2px 3px #4f84f7;
  outline: none;

  transition: box-shadow 0.3s ease-out;
}

.label {
  position: absolute;
  left: 2px;
  padding: 12px 8px 0px 8px;

  background: none;
  transform: translateY(0);
  transition: all 0.3s ease-out;
  font-size: 14px;
  font-family: "Geist";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select:not(:placeholder-shown) + .label,
.select:focus + .label {
  position: absolute;
  left: 2px;
  padding: 4px 4px;
  background: white;
  height: 12px;
  transform: translateY(-50%);
  font-size: 12px;

  transition: all 0.3s ease-out;
}

.selectBox {
  position: relative;
  width: 100%;
}

.placeholder {
  display: none;
}

.select::placeholder {
  color: transparent;
}

.select:focus::placeholder {
  color: #c4c4c4;
}

.select:disabled + .label {
  color: #c4c4c4;
}
