.toastContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  min-height: 40px;
  border-radius: 8px;
  padding: 8px 16px;

  background-color: var(--main-bg-color);
  /* color: white; */

  font-size: large;
  font-family: "Geist";

  border: 1px solid #c4c4c4;
}

.notifContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding: 8px;
}

.notifTitle {
  font-weight: 400;
}
.notifContent {
  font-weight: 200;
}

span {
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
}
