.modal .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.modalContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 8px;
  max-width: 600px;
  min-width: 300px;
}

.notifContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding: 8px;
}

.notifTitle {
  font-weight: 400;
}
.notifContent {
  font-weight: 200;
}

span {
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
}
