@import "../../../vars.css";

.userDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  min-height: 40px;
  border-radius: 8px;
  padding: 8px 16px;

  /* font-size: large;
  font-family: "Geist"; */
}

a {
  color: var(--text-color);
}
