.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 40px;
  border-radius: 8px;
  padding: 8px 8px;

  background-color: var(--main-bg-color);
  color: white;

  font-size: large;
  font-family: "Geist";

  border: none;
}

.button:hover:not(:disabled) {
  background-color: var(--main-hover-color);
}
.button:active:not(:disabled) {
  background-color: var(--main-active-color);
}

.delete {
  background-color: var(--warning-bg-color);
}
.delete:hover:not(:disabled) {
  background-color: var(--warning-hover-color);
}
.delete:active:not(:disabled) {
  background-color: var(--warning-active-color);
}