.dragContainer {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  /* height: 200px; */
  overflow: hidden;
  background-color: white;
}

.containerBody {
  height: 100%;
  width: 100%;
  padding: 8px;
}

.dragHandle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #e9f1fd;
}

.deleteEnd {
  padding: 8px;
}
