@import "../../../vars.css";

.dragContainer {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid var(--soft-background-color);
  overflow: hidden;
  background-color: white;
}

.containerBody {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.dragHandle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--main-disabled-color);
}

.deleteEnd {
  position: absolute;
  padding: 8px;
}

.deleteButton {
  position: absolute;
  left: 50;
  padding: 0;
  border: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;
}
