@import "../../../vars.css";

.headerContainer {
  display: flex;
  box-sizing: border-box;
  align-items: center;

  height: 40px;
  width: 100%;

  background-color: white;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 0 4px;
  margin: 0 4px;

  border-radius: 8px;
  border: 1px solid var(--soft-background-color);
}

a:link {
  text-decoration: none;
}
.a:hover:not(:disabled) {
  border: 1px solid var(--main-hover-color);
}
.a:active:not(:disabled) {
  background-color: var(--main-disabled-color);
}

.a:disabled {
  background-color: var(--main-disabled-color);
}
.warning:disabled {
  background-color: var(--warning-disabled-color);
}
