@import "../../../vars.css";
@import "../inputs.css";

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  height: 24px;
  align-items: center;
  gap: 4px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  box-sizing: border-box;
  top: 4px;
  left: 0;
  height: var(--input-interactable-height);
  width: var(--input-interactable-width);
  border-radius: 50%;
  border: 1px solid var(--text-color);
  background-color: white;
}

.container input:disabled ~ .checkmark {
  background-color: var(--main-disabled-color);
  border: 1px solid var(--soft-background-color);
}

.container input:disabled ~ span {
  color: var(--main-disabled-color);
}

.container:hover input:not(:disabled) ~ .checkmark {
  background-color: var(--outline-hover-color);
}

.container input:checked ~ .checkmark {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}

.container:hover input:checked ~ .checkmark {
  background-color: var(--main-bg-color);
}

.container input:focus-visible ~ .checkmark {
  box-shadow: 0 0 2px 3px var(--main-bg-color);
  border: 1px solid var(--text-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.container input:disabled ~ .inputLabel {
  color: var(--soft-background-color);
}

.container:disabled input ~ .checkmark {
  background-color: var(--outline-hover-color);
}
