.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  height: 24px;
  align-items: center;
  font-size: 16px;
  font-family: "Geist";
  font-weight: 400;
  color: #606060;
  gap: 5px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px #606060 solid;
  background-color: white;
}

.container input:disabled ~ .checkmark {
  background-color: #efefef;
  border: 2px #c4c4c4 solid;
}

.container input:disabled ~ span {
  color: #e9f1fd;
}

.container:hover input:not(:disabled) ~ .checkmark {
  background-color: #ceddfd;
}

.container input:checked ~ .checkmark {
  background-color: #4f84f7;
  border: 2px #4f84f7 solid;
}

.container:hover input:checked ~ .checkmark {
  background-color: #4f84f7;
}

.container input:focus-visible ~ .checkmark {
  box-shadow: 0 0 2px 3px #4f84f7;
  /*box-shadow instead of outline to get rounded edges.
  compatibility issues?*/

  border: 2px #606060 solid;
  /*border visible when tab-focused to seperate shadow from background*/
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.container input:disabled ~ .inputLabel {
  color: #c4c4c4;
}

.container:disabled input ~ .checkmark {
  background-color: #ceddfd;
}
