@import "../../../vars.css";

.tableContainer {
  overflow: auto;
  height: 300px;
}

table {
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  border-spacing: 0px;
  background-color: white;
}

.headerRow {
  top: 0;
  position: sticky;
  z-index: 1;
  border-radius: 8px;
}

.stickyGroup {
  position: sticky;
  left: 0;
  margin: 0;
  padding: 0;
  border-right: 1px solid #c4c4c4;
}

th:first-child {
  border-radius: 8px 0 0 0;
}
th:last-child:not(.stickyHeader) {
  border-radius: 0 8px 0 0;
}

.headerCell {
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  padding: 8px;
  background-color: #4f84f7;
  color: white;
  cursor: pointer;
}

.bodyCell {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding: 8px;
  color: #606060;
  text-align: center;
}

.stickyHeader,
.stickyCell {
  width: 100px;
}

.wordWrap {
  word-wrap: break-word;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.nestedCell {
  display: flex;
  justify-content: space-around;
}

.tableTitle {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}
.titleButtons {
  display: flex;
}
