:root {
  font-size: large;
  font-family: "Geist";
}

.tableContainer {
  overflow: auto;
  height: 300px;
  /* outline: 1px solid red; */
}

table {
  box-sizing: border-box;
  width: 100%;
  font-family: "Geist";
  border-spacing: 0px;
  position: relative;
}

.headerRow {
  position: sticky;
  top: 0;
}

.headerCell {
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  padding: 8px 16px;
  background-color: #4f84f7;
  color: white;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.bodyCell {
  font-size: 16px;
  font-weight: 400;
  padding: 8px;
  color: #606060;
  background-color: white;
  text-align: center;
}

.bodyRow:hover > .bodyCell {
  background-color: var(--outline-hover-color);
}

.tableTitle {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}
.titleButtons {
  display: flex;
}
