html {
  --main-bg-color: #4F84F7;
  --main-hover-color: #426FCF;
  --main-active-color: #365AA8;
  --main-border-color: #C4C4C4;
  

  --outline-hover-color: #CEDDFD;
  --outline-active-color: #87ABFA;

  --warning-outline-bg-color: #FF2929;
  --warning-outline-hover-color: #FFA1A1;
  --warning-outline-active-color: #FF7A7A;

  --warning-bg-color: #FF2929;
  --warning-hover-color: #D60000;
  --warning-active-color: #AD0000;
  --warning-disabled-color: #FFD1D9;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("Geist"),
    url("./fonts/Geist/Geist-Regular.otf") format("opentype");
}