:root {
  --main-bg-color: #4f84f7;
  --main-hover-color: #426fcf;
  --main-active-color: #365aa8;
  --main-disabled-color: #e9f1fd;

  --outline-hover-color: #ceddfd;
  --outline-active-color: #87abfa;

  --warning-outline-bg-color: #ff2929;
  --warning-outline-hover-color: #ffa1a1;
  --warning-outline-active-color: #ff7a7a;

  --warning-bg-color: #ff2929;
  --warning-hover-color: #d60000;
  --warning-active-color: #ad0000;
  --warning-disabled-color: #ffd1d9;
  background-color: #f4f4f4;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.storyDiv {
  display: flex;
  gap: 8px;
  width: "300px";
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: "Regular"; /*Can be any text*/
  src:
    local("Geist"),
    url("./fonts/Geist/Geist-Regular.otf") format("opentype");
}
