.title {
  text-align: center;
  justify-content: center;

  color: #606060;
  font-size: 24px;
  font-family: "Geist";
}

.customTooltip {
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #c4c4c4;
}

.tooltipTitle {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}
