@import "../../../vars.css";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
  border-radius: 8px;
  padding: 8px 16px;

  background-color: var(--main-bg-color);
  color: white;

  font-size: large;

  border: none;
}

.button:hover:not(:disabled) {
  background-color: var(--main-hover-color);
}
.button:active:not(:disabled) {
  background-color: var(--main-active-color);
}

.warning {
  background-color: var(--warning-bg-color);
}
.warning:hover:not(:disabled) {
  background-color: var(--warning-hover-color);
}
.warning:active:not(:disabled) {
  background-color: var(--warning-active-color);
}

.button:disabled {
  background-color: var(--main-disabled-color);
}

.warning:disabled {
  background-color: var(--warning-disabled-color);
}
