:root {
    --main-bg-color: #4F84F7;
    --main-hover-color: #426FCF;
    --main-active-color: #365AA8;
    --main-disabled-color: #E9F1FD;

    --outline-hover-color: #CEDDFD;
    --outline-active-color: #87ABFA;

    --warning-outline-bg-color: #FF2929;
    --warning-outline-hover-color: #FFA1A1;
    --warning-outline-active-color: #FF7A7A;

    --warning-bg-color: #FF2929;
    --warning-hover-color: #D60000;
    --warning-active-color: #AD0000;
    --warning-disabled-color: #FFD1D9;
  }

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 37px;
    border-radius: 8px;
    padding: 8px 16px;

    background-color: var(--main-bg-color);
    color: white;

    font-size: large;
    font-family:'Geist';

    border: none;
}

.button .svg{
    color: black;
}


.button:hover {
    background-color: var(--main-hover-color);
}
.button:active {
    background-color: var(--main-active-color);
}

.warning {
    background-color: var(--warning-bg-color);
}
.warning:hover {
    background-color: var(--warning-hover-color);
}
.warning:active  {
    background-color: var(--warning-active-color);
}

.button:disabled {
    background-color: var(--main-disabled-color);
}

.warning:disabled {
    background-color: var(--warning-disabled-color);
}

.primary { background-color: var(--main-bg-color);}
.secondary {
    background-color: white;
}
