@import "../../../vars.css";

.input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--soft-background-color);
  padding: 0 2px;

  transition: box-shadow 0.2s ease-out;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input:focus {
  box-shadow: 0 0 2px 3px var(--main-bg-color);
  outline: none;

  transition: box-shadow 0.3s ease-out;
}

.label {
  position: absolute;
  left: 2px;
  padding: 12px 8px 0px 8px;
  background: none;
  transform: translateY(0);
  transition: all 0.3s ease-out;
  font-size: 14px;
  font-family: "Geist";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input:not(:placeholder-shown) + .label,
.input:focus + .label {
  position: absolute;
  left: 2px;
  padding: 4px 4px;
  background: white;
  height: 12px;
  transform: translateY(-50%);
  font-size: 12px;

  transition: all 0.3s ease-out;
}

.inputBox {
  position: relative;
  width: 100%;
}

.placeholder {
  display: none;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: var(--soft-background-color);
}

.input:disabled + .label {
  color: var(--soft-background-color);
}
